.note-page-layout {
	width: 100%;
	min-height: 100%;
	overflow: hidden;

	.create-note-container {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		padding: 1rem;
	}

	.notes {
		width: 100%;
		margin: 0;
		overflow: hidden;
	}
}
