.btnGroup {
	display: flex;
	justify-content: center;
	align-items: center;
	button {
		margin: 1rem;
	}
}

.dropdown {
	button {
		&::before {
			content: "";
			transition: all 0.25s ease;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			border-radius: 50%;
			z-index: -1;
		}
		&:hover::before {
		}

		&::after {
			display: none;
		}

		svg {
			transition: all 0.25s ease;
		}

		&:hover {
			svg {
				transform: scale(1.1);
			}
		}
		&:focus {
			border: none;
			box-shadow: none;
			svg {
			}

			&::before {
			}
		}
	}
}

.overlay {
	background-color: #ededed;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	place-items: center;
	overflow-y: auto;

	.content {
		background: #442a9d;
		min-width: 370px;
		min-height: 370px;
		padding: 20px;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		position: relative;
		align-items: center;
		justify-content: center;
		font-family: Montserrat;

		h4 {
			color: #ededed;
			font-weight: 800;
		}

		form {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: left;
			flex-direction: column;
			.input {
				margin: 1rem 0;
				color: #ebebeb;

				label {
					margin: 0.2rem 0;
					font-weight: 600;
				}

				input {
					display: block;
					background: #322e49;
				}
			}

			.errors {
			}

			.buttons {
				display: flex;
				justify-content: space-between;
				height: 100%;
				align-items: center;

				button {
					background-color: #ededed;
					color: #07031a;
				}
			}
		}
	}
}
