.sidebar {
  width: auto;
  flex-shrink: 0;
  background-color: var(--gray-9);
  transition: width 0.25s ease;

  &[aria-expanded="true"] {
    width: auto;
    transition: width 0.25s ease;
    
    .text {
      width: 125px;
    
      p {
        padding: 0;
        transition: opacity 0.25s ease-in-out;
        opacity: 1;
      }
    }
  
    a {
      visibility: visible;
    }
  }

  .links {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;

    &:hover {
      .text {
        width: 125px;
        p {
          padding: 0;
          transition: opacity 0.25s ease-in-out;
          opacity: 1;
        }
      }
    }
  }

  a {
    display: flex;
    text-decoration: none;
    padding: 1rem;
    margin: 0.1rem 0;
    border-radius: 50px;
    color: white;

    &:hover {
      background-color: var(--yellow-5);
    }

    .icon {
      height: 2rem;
      width: 2rem;
      transition: all 0.25s ease;
      
    }

    

    .text {
      display: flex;
      align-items: center;
      font-weight: 500;
      width: 0;
      transition: all 0.25s ease;

      p {
        opacity: 0;
        margin: 0 0 0 1rem;
      }
    }
  }

  .active {
    background-color: var(--pink-6);
    
    .icon {
      stroke: black;
    }

    &:hover {
      background-color: var(--pink-6);
    }
  }

  .notActive {

    .icon {
    }
  

    &:hover {
      .icon {
        stroke: black;
      }
    }
  }
}

