.container {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	.auth {
		height: 500px;
		width: 400px;
		form {
			border: 1px solid var(--gray-2);
			padding: 2.5rem;
			box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
			position: relative;

			legend {
				font-size: 1.2rem;
				font-weight: 700;
			}

			.controls_container {
				.controls {
					input {
						border-radius: 0;
						font-weight: 200;
						border-radius: 4px;
					}

					.error {
						color: var(--red-8);
						svg {
							display: inline;
							margin-right: 3px;
						}

						p {
							font-size: 0.8rem;
							font-weight: 500;
							display: inline;
						}
					}
				}
			}

			.buttons {
				display: flex;
				justify-content: space-between;
				align-items: center;

				a {
					text-decoration: none;
					color: var(--blue-8);
				}
			}
		}
	}
}
