.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;

	h1 {
		text-align: center;
		margin: 0;
		width: 100%;
	}

	.form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		input[type="submit"] {
			margin: 1rem;
		}
	}

	.notes {
		width: 100%;
		background-color: var(--grape-2);
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 0.5rem;
		padding: 0.5rem 1rem;

		.note {
			height: 200px;
			width: 200px;
			background-color: var(--green-3);
		}
	}
}
