.container {
	width: 100%;

	.addNoteButtonContainer {
		margin: 2rem;

		.addNoteButton {
			padding: 0.175rem;
			background: transparent;
			position: relative;
			z-index: 1;

			&::after {
				background: linear-gradient(
					90deg,
					rgba(206, 106, 222, 1) 0%,
					rgba(225, 119, 207, 1) 35%,
					rgba(253, 165, 163, 1) 100%
				);
				transition: all 0.25s ease;
				border-radius: 50%;
				position: absolute;
				content: "";
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: -1;
			}

			> svg {
				color: #fff;
				stroke-width: 0.08rem;
				transition: all 0.25s ease;
			}

			&:hover::after {
				transform: rotate(360deg) scale(1.1);
			}

			&:hover {
				svg {
					transform: scale(1.1);
				}
			}
		}
	}

	.notes {
		margin: 0;
		padding: 0;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, 250px);
		grid-auto-rows: 10px;
		justify-content: center;
	}
	.spinnerContainer {
		min-height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		> div {
			height: 10rem;
			width: 10rem;
		}
	}
}

.modal {
	.form {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		height: 20rem;
		padding: 1rem;
		background-color: #eeeeee;
		border-radius: 15px;

		.buttons {
			background-color: none;
			display: flex;
			justify-content: space-between;

			button {
				padding: 0;
				margin: 0;
				background-color: transparent;
				svg {
					color: green;
					margin: 0.5rem;
					border-radius: 50%;
					transition: all 0.25s ease;
					&:hover {
						transform: scale(1.2);
						box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
					}
				}

				&:last-child {
					svg {
						color: red;
						margin: 0.5rem;
					}
				}
			}
		}

		.inputContainer {
			color: black;
			background-color: none;
			margin-top: 1rem;
			width: 100%;

			input {
				display: block;
				height: 2rem;
				width: 100%;
				background-color: white;
				border-radius: 8px;
				color: black;

				&:focus {
					outline: none;
					box-shadow: 0px 0px 2px 5px #ce6ade;
				}
			}
			textarea {
				resize: none;
				height: 5rem;
				border-radius: 10px;
				width: 100%;
				background-color: white;

				&:focus {
					outline: none;
					box-shadow: 0px 0px 2px 5px #ce6ade;
				}
			}
			.errors {
				color: #ce6ade;
				font-weight: 400;
				font-size: 0.8rem;
				height: 2rem;
				margin-top: 0.25rem;
			}
		}

		p {
			margin: 0;
		}

		&:last-child {
			flex: content;
		}
	}
}
