.navbar {
	background-color: var(--blue-5);
	padding: 1rem 2rem;

	.authentication {
		display: flex;
		gap: 1rem;
		font-size: 2rem;
		text-transform: capitalize;
		font-weight: 800;

		button {
			background: transparent;
			outline: none;
		}
	}
}
