.navbar {
	width: 100%;
	height: 3rem;
	background-color: var(--blue-7);

	.button_group {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: end;

		a {
			text-decoration: none;
			margin: 0;
		}
	}
}
