.navbar {
	.toolbar {
		background-color: var(--gray-10);
		.content {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 1rem;
			min-width: 100%;

			button {
				svg {
					color: var(--pink-6);
				}

				&:focus {
					outline: none;
					box-shadow: 0px 0px 0px 3px var(--blue-6);
				}
			}

			.brand {
				font-family: 'Pacifico', cursive;
				font-size: 3rem;
				color: white;
				text-decoration: none;

				&::first-letter {
					color: var(--pink-6);
					letter-spacing: 0.1rem;
					transform: translateY(-0.25rem);
				}

				&:focus {
					outline: none;
					box-shadow: 0px 0px 0px 3px var(--blue-6);
				}

				svg {
					display: inline;
					margin-left: -1rem;
					stroke-width: 0.2rem;
					vertical-align: sub;
					justify-self: start;
					color: var(--pink-6);
				}
			}
		}
	}
}
