.layout {
	display: flex;
	flex-direction: column;
	color: var(--blue-0);
	height: 100%;
	.top-nav {
		box-shadow: var(--shadow-2);
		z-index: 1;
	}

	.main {
		display: flex;
		background-color: #17181f;
		.content {
			width: 100%;
		}
	}
}
