$navbar-background-color: var(--gray-10);

.container {
	width: 500px;
	.form {
		width: 100%;

		.formgroup {
			width: 100%;

			.inputgroup {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
				width: 100%;

				::placeholder {
					color: var(--grey-9);
				}

				.title {
					width: 100%;
					border: none;
					border-radius: 0;

					&:focus {
						outline: none;
						border: none;
						box-shadow: 0px 0px 0px 1px var(--pink-6);
					}
				}
				.title[hidden='true'] {
					display: block;
				}

				.inputwithtoggle {
					position: relative;
					.description {
						width: 100%;
						border-radius: 0;

						&:focus {
							outline: none;
							border: none;
							box-shadow: 0px 0px 0px 1px var(--pink-6);
						}
					}
				}
			}
		}
	}
}
