.container {
	width: 500px;
	.form {
		width: 100%;

		.formgroup {
			width: 100%;

			.inputgroup {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
				width: 100%;

				::placeholder {
					color: var(--grey-9);
				}

				input {
					&:focus {
						box-shadow: 0px 0px 0px 3px var(--blue-6);
					}
				}

				.title {
					width: 100%;
					border: 2px solid var(--pink-6);
					border-radius: 5px;
					outline: none;
					padding: 0.12rem;
					&::after {
						display: none;
					}

					&::before {
						display: none;
					}

					&:focus {
						box-shadow: 0px 0px 0px 3px var(--blue-6);
					}
				}

				.title[hidden='true'] {
					display: block;
				}

				.inputwithtoggle {
					position: relative;
					.description {
						width: 100%;
						border-radius: 5px;
						border: 2px solid var(--pink-6);
						padding: 0.12rem;

						&::after {
							display: none;
						}

						&::before {
							display: none;
						}

						&:focus {
							box-shadow: 0px 0px 0px 3px var(--blue-6);
						}
					}
				}
			}
		}
	}
}
