.label {
	display: block;
	font-size: 1rem;
	font-weight: bold;
	margin: 0;
	padding: 0 0.5rem 0 0.5rem;
	text-transform: capitalize;
}

.input {
	width: 100%;
	border: none;
	background-color: white;
	padding: 0 0.5rem 0 0.5rem;
	font-size: 1.5rem;
	outline: none;
	transition: all 0.25s ease;

	&:focus {
	}
}

.errors {
	color: red;
	height: 48px;
	padding-left: 0.5rem;
}
