.footer {
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	.button_container {
		width: 100%;
		padding: 1rem;

		button {
			background-color: var(--pink-6);
		}
	}
}
