.note-card {
	border-radius: 8px;
	position: relative;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
	padding: 1rem;

	.card-body {
		word-break: break-word;
		overflow: hidden;
		text-overflow: ellipsis;

		.title {
			font-family: 'Arial', sans-serif;
			font-size: 24px;
			color: #333;
			margin-bottom: 10px;
		}

		.description {
			font-size: 16px;
			height: max-content;
		}
	}

	.footer {
		position: absolute;
		width: 100%;
		opacity: 1;
		transition: all 0.25s ease-in;
		bottom: 0.25rem;
		left: 0rem;
		display: flex;
		padding: 0.5rem;
		justify-content: space-between;
		background-color: white;

		&:hover {
			opacity: 1;
		}

		button {
			background: none;
			outline: none;
			border: none;

			&:focus {
				background: none;
				outline: none;
			}

			> svg {
				stroke: var(--gray-9);
				width: 26px;
				height: 26px;
			}

			&:hover {
				> svg {
					stroke: var(--pink-6);
				}
			}
		}
	}
}

.small {
	.card-body {
		min-height: 150px;

		.title {
			.title {
			}
		}
	}
}

.medium {
	.card-body {
		min-height: 250px;
	}
}

.large {
	.card-body {
		min-height: 350px;
		max-height: 650px;
	}
}
