.small {
	background-color: red;
	grid-row-end: span 26;
}

.med {
	background-color: green;
	grid-row-end: span 33;
}

.large {
	background-color: blue;
	grid-row-end: span 45;
}

.container {
	margin: 15px 10px;
	padding: 0;
	border-radius: 16px;
	position: relative;
	overflow: hidden;
}
